.container{
    margin: 200px auto;
    width:800px;
    height:600px;
    display: flex;
    align-items: center;
    position: relative;
    background:#fff; /*백그라운드 색이 반드시 필요!!*/
    filter: blur(10px) contrast(20);
}

.circle{
    width:200px;
    height:200px;
    border-radius: 50%;
    position: absolute;
    
    transform: translate(-50%, -50%);
}

#circle1{
    background: rgb(51, 200, 238);
    animation: moveCircle1 1s infinite linear alternate-reverse;
}

@keyframes moveCircle1{
    from{left:40%;}
    to{left:45%;}
}


#circle2{
    background: rgb(199, 54, 54);
    animation: moveCircle2 1s infinite linear alternate-reverse;
}

@keyframes moveCircle2{
    from{left:60%;}
    to{left:55%;}
}
