*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}



#board{
    width:100%;
    height:100vh;
    position: relative;
    background:#ddd;
}
.clock{
    /* default setting */
    width:100%;
    height:100%;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:#bbb;
    display: none;
}

input{
    display: none;
}

#labels{
    position: absolute;
    width:100%;
    bottom:40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#labels > label{
    z-index: 100;
    cursor: pointer;
    margin:10px;
    width:16px;
    height: 16px;
    border-radius: 50%;
    background: #ddd;
    border: 4px solid #666;

}

#labels > label:hover{
    background: #fff;
}


#sel1:checked ~ #labels > label:nth-child(1){
    background:#666;
}
#sel2:checked ~ #labels > label:nth-child(2){
    background:#666;
}
#sel3:checked ~ #labels > label:nth-child(3){
    background:#666;
}
#sel4:checked ~ #labels > label:nth-child(4){
    background:#666;
}

#sel1:checked ~ #board .clock:nth-child(1){
    display:inline-block;
    background:rgb(93, 198, 212);
}
#sel2:checked ~ #board .clock:nth-child(2){
    display:inline-block;
    background:rosybrown;
}
#sel3:checked ~ #board .clock:nth-child(3){
    display:inline-block;
    background:rgb(235, 192, 137);
}
#sel4:checked ~ #board .clock:nth-child(4){
    display:inline-block;
    background:rgb(233, 178, 106);
} 

#clock1{
    width:200px;
    height:200px;
    background: #fff;
}