/*font-family: 'Baumans', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');


:root{
    
}



*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}



#board{
    width:100%;
    height:100vh;
    position: relative;
    background:#ddd;
}
.clock_back{
    /* default setting */
    width:100%;
    height:100%;
    position: absolute;
    top:0%;
    left:0%;
    align-items: center;
    justify-content: center;
    display:flex;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#sel1:checked ~ #board .clock_back:nth-child(1),
#sel2:checked ~ #board .clock_back:nth-child(2),
#sel3:checked ~ #board .clock_back:nth-child(3),
#sel4:checked ~ #board .clock_back:nth-child(4)
{
    visibility: visible;
    opacity: 1;

} 

.center_display{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="radio"]{
    display: none;
}

#labels{
    position: absolute;
    width:100%;
    bottom:40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#labels > label{
    z-index: 100;
    cursor: pointer;
    margin:10px;
    width:10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(179, 179, 179, 0.95);
    transition:0.1s;
}

#labels > label:hover{
    width:16px;
    height:16px;
    background: rgba(255, 255, 255, 0.911);
}


#sel1:checked ~ #labels > label:nth-child(1),
#sel2:checked ~ #labels > label:nth-child(2),
#sel3:checked ~ #labels > label:nth-child(3),
#sel4:checked ~ #labels > label:nth-child(4)
{
    border: 2px solid rgba(192, 192, 192, 0.774);
    background:rgba(255, 255, 255, 0.966);
    width:16px;
    height: 16px;

}


/*clock1*/
.clock_back:nth-child(1){
    --base-color:#eee;
    background:var(--base-color);
}
#clock1{
    transition: 1s 0.5s;
    display: inline-block;
    background:transparent;
    width:300px;
    height:300px;
    border-radius: 50%;
    box-shadow: none;
    border:24px solid var(--base-color);
}
#sel1:checked ~#board #clock1{
    background: var(--base-color);
    box-shadow: -8px -8px 20px rgba(255,255,255,0.6), 8px 8px 20px rgba(94,94,94,0.2),
            inset 2px 2px 20px rgba(94, 94, 94, 0.2), inset -2px -2px 20px rgba(255, 255, 255, 0.6);
}
#clock1 .digitalDisplay_Time{
    font-size: 36px;
    color:rgba(0, 0, 0, 0.7);
    /* color:var(--base-color);
    text-shadow: 4px 4px 4px rgba(0,0,0,0.1), -4px -4px 4px rgba(255,255,255,0.4); */
    opacity: 0;
    transition:1.5s 0.6s;
}
#sel1:checked ~#board #clock1 .digitalDisplay_Time{
    opacity:1;
}
#clock1 .digitalDisplay_Date{
    font-size: 20px;
    color:rgba(0,0,0,0.4);
    opacity: 0;
    transition:1.5s 0.6s;
}
#sel1:checked ~#board #clock1 .digitalDisplay_Date{
    opacity:1;
}

/*clock2*/
.clock_back:nth-child(2){
    --base-color:#eee;
    background:var(--base-color);
}

#clock2{
    transition: 1s 0.5s;
    display: inline-block;
    background:transparent;
    width:300px;
    height:300px;
    border-radius: 50%;
    box-shadow: none;
}
#sel2:checked ~#board #clock2{
    background: var(--base-color);
    box-shadow: -8px -8px 20px rgba(255,255,255,0.6), 8px 8px 20px rgba(94,94,94,0.2),
            inset -5px -5px 10px rgba(94, 94, 94, 0.2), inset 5px 5px 10px rgba(255, 255, 255, 0.6);
}
#clock2 .digitalDisplay_Time{
    text-align: center;
    font-size: 40px;
    color: rgba(238,238,238,0.8);
    text-shadow: -2px -2px 2px rgba(0,0,0,0.2),  2px 2px 1px rgba(255,255,255,0.5);
    opacity: 0;
    transition:1.5s 0.6s;
    font-weight:900;
}
#sel2:checked ~#board #clock2 .digitalDisplay_Time{
    opacity:1;
}
#clock2 .digitalDisplay_Date{
    text-align: center;
    font-size: 20px;
    color:rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition:1.5s 0.5s;
}
#sel2:checked ~#board #clock2 .digitalDisplay_Date{
    opacity: 1;
}
/*clock3*/

.clock_back:nth-child(3){
    --base-color:rgb(89, 167, 65);
    background:var(--base-color);
}

#clock3{
    transition: 1s 0.5s;
    display: inline-block;
    position: relative;
    background:transparent;
    width:360px;
    height:200px;
    border: 16px solid transparent;
    border-radius: 10px 100px;
    box-shadow: none;
}
#sel3:checked ~#board #clock3{
    background: var(--base-color);
    box-shadow: -18px -18px 24px rgba(162, 255, 143, 0.15), 18px 18px 24px rgba(13, 31, 11, 0.2),
                inset 4px 4px 6px rgba(13, 31, 11, 0.2),inset -4px -4px 6px rgba(162, 255, 143, 0.15);
}
#clock3 .digitalDisplay_Time{
    text-align: center;
    font-size: 40px;
    color: var(--base-color);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3),  -2px -2px 4px rgba(162, 255, 143, 0.3);
    opacity: 0;
    transition:1.5s 0.6s;
    font-weight:900;

}
#sel3:checked ~#board #clock3 .digitalDisplay_Time{
    opacity:1;
}
#clock3 .digitalDisplay_Date{
    text-align: center;
    font-size: 20px;
    color:rgba(26, 77, 26, 0.5);
    opacity: 0;
    transition:1.5s 0.5s;
}
#sel3:checked ~#board #clock3 .digitalDisplay_Date{
    opacity: 1;
}