:root{
    --moon-color:rgb(255, 202, 28);
    --moon-gradient:radial-gradient(circle,var(--moon-color) 40%,rgb(248, 237, 198));
    --sky-night:rgb(12, 12, 27);
}

body{
    background: #000;
    margin:10px;
}

#back{
    margin:0;
    padding:0;
    height: 800px;
    width: 100%;
    min-width: 400px;
    min-height: 400px;
    background: var(--sky-night);
    position: relative;
}

#moon{
    width:100px;
    height:100px;
    position: relative;
    top:20%;
    right:-50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background: var(--moon-gradient);
    z-index: 2;
}

#moon::before{
    content:'';
    position: absolute;
    width:100%;
    height:100%;
    background: var(--moon-color);
    border-radius: 50%;
    filter:blur(50px);
    z-index: 0;
}
#skylineContainer{
    width:100%;
    position: absolute;
    bottom:0;
}
.base{
    position: absolute;
    display: block;
    bottom:0;
    content:'';
    width:100%;
}
#base1{
    height:80px;
    background: #555;
    z-index: 3;
}
#base2{
    height:60px;
    background: #333;
    z-index: 4;
}
#base3{
    height:40px;
    background: #111;
    z-index: 5;
}
.skyline{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    padding:0 10px;
    margin: 0 auto;
}

.building{
    position: relative;
    bottom: 10px;
    display: inline-block;
    content:'';
}
.skyline:nth-child(1) .building{
    background: #111;
}
.skyline:nth-child(2) .building{
    background: #333;
    bottom: 40px;
}
.skyline:nth-child(3) .building{
        background: #555;
    bottom:80px;
}